<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="style.css" />
    <title>my-portfolio</title>
</head>
<body class="bg-slate-200">
    <header class="">
        <div id="logo" class=""><a href="#home">V-dev</a></div>
        <nav class="">            <a href="#about" class="">About</a>
            <a href="#project">Project</a>
            <a href="#contact">Contact</a>
        </nav>
        <button class="">
            Get in Touch
        </button>
    </header>
    <section id="home" class="">

        <div class="">

            <span
                class=""></span>
            <img src="/images/stock-1.jpg" alt="" class="" />
        </div>
        <div class="">
            <h1 class="">My Portfolio</h1>
            <p class="">
                Hi! I'm V-dev, a passionate developer specializing in creating
                beautiful and functional web applications. Explore my projects and
                get to know more about me!
            </p>
    </section>

</body>
</html>